<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AoiRemoteServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AoiRemoteServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <AoiRemoteServer.My.MySettings>
            <setting name="UserIp" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseIPv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AimpPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MpcPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutorunTcpServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </AoiRemoteServer.My.MySettings>
    </userSettings>
    <applicationSettings>
        <AoiRemoteServer.My.MySettings>
            <setting name="DefaultPort" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="DefaultIp" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="GitHubUrl" serializeAs="String">
                <value>https://github.com/blazer404/Aoi-Remote-Server</value>
            </setting>
        </AoiRemoteServer.My.MySettings>
    </applicationSettings>
</configuration>
