<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TSRC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TSRC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <TSRC.My.MySettings>
            <setting name="UserIp" serializeAs="String">
                <value />
            </setting>
            <setting name="UseIPv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AimpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MpcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutorunTcpServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessKey" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </TSRC.My.MySettings>
    </userSettings>
    <applicationSettings>
        <TSRC.My.MySettings>
            <setting name="DefaultPort" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="DefaultIp" serializeAs="String">
                <value />
            </setting>
            <setting name="GitHubUrl" serializeAs="String">
                <value>https://github.com/blazer404/TSRC_Server</value>
            </setting>
        </TSRC.My.MySettings>
    </applicationSettings>
</configuration>
